body {
    color:blueviolet;
    background: white;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(138, 43, 226);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    
}

section {
    background: rgb(138,43,226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
